

 <html>
  <head></head>
  <body>
    <p style="color:blue;">
      Guess the Secret number between 1 -100!
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p style="color:red;"> <%= message %> </p>
  </body>
</html>